<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mini Messageboard</title>
</head>
<body>
  <a href="/new">New Message</a>
  <ul>
    <% messages.forEach((message) => { %>
      <%- include('message', {user: message.user, text: message.text, added: message.added, index:messages.indexOf(message)} ) %>
    <% }); %>
  </ul>
</body>
</html>