a {
  color: black;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}
a:visited {
  color: black;
}
a:hover{
  color: white;
  background-color: black;
}
li {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}